@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);


body{
	font-family: Roboto;
	color: #404040;
	font-weight: 400;
}

a{
	text-decoration: none;
}

.window{
	display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 90vh;
}

.overlayDark{
	position: fixed;
	z-index: 99999;
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px black;
	padding: 0 800px 0 0;
	top: 0;
	margin: 0 0 0 -100px;
}

.overlayLight{
	position: fixed;
	z-index: 9999999;
	background-color: #f7d857;
	width: 60%;
	height: 65px;
	box-shadow: 0 0 10px black;
	padding: 0;
	top: 0;
	right: 20%;
	margin: -10px auto 0 auto;
	border-radius: 5px;
}

.instrux_box{
	margin: 17px auto 0 auto;
	text-align: center;
	width: 768px;
	font-size: 14pt;
	}

.instrux_text{
	display: inline-block;
	margin-right: 3px;
}

.instrux_text span{
	font-weight: 900;
	text-decoration: underline;
}

.button{
	background-color: #404040;
	color: #fff;
	border-radius: 5px;
	padding: 8px;
	width: 80px;
	font-weight: 300;
	text-align: center;
	display: inline-block;
	margin-left: 3px;
	cursor: pointer;
}

#big_container{
	width: 750px;
	margin: 60px auto;
	padding: 40px 0 40px 0;
	-webkit-box-shadow: -1px 3px 16px 3px rgba(89,88,89,0.7);
	-moz-box-shadow: -1px 3px 16px 3px rgba(89,88,89,0.7);
	box-shadow: -1px 3px 16px 3px rgba(89,88,89,0.7);
	border-radius: 10px;
	vertical-align: middle;
}

.container{
	margin: 0 auto 0 auto;
	width: 650px;
}

/*////////// end message popup ///////////*/

.end_container{
	margin: 0 auto 0 auto;
	width: 650px;
	height: 200px;
	padding: 100px 0;
	display: none;
	background-color: #f7d857;	
	font-size: 15pt;
}

.end_container span{
	font-weight: 900;
}

.end_wrapper{
	width: 80%;
	margin: 0 auto;
}

.end_message{
	width: auto;
	display: inline-block;
	font-weight: 900;
	font-size: 25pt;
	margin-bottom: 6px;
}

.score{
	border-bottom: 1px solid #404040;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.twitter{
	font-size: 18pt;
	background-color: #404040;
	color: #fff;
	border-radius: 5px;
	padding: 0 9px 0 8px;
	vertical-align: middle;
	height: 33px;
}

.twitter a{
	text-decoration: underline;
	color: #fff;
	display: inline-block;
}

.twitter span{
	font-size: 11pt;
	letter-spacing: .03em;
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
}

.replay{
	background-color: #404040;
	color: #fff;
	padding: 0 9px 0 8px;
	margin: 0 0 0 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: 300;
	width: auto;
	border-radius: 5px;
	vertical-align: middle;
	height: 33px;
}

a.replay{
	color: #fff;
}

.fa-refresh{
	position: relative;
	bottom: 2px;
}

/*////////////////top/////////////////*/
#top{
	display: inline-block;
	width: 100%;
}

#header{
	font-size: 40pt;
	font-weight: 900;
	margin: 0 0 10px 0;
	display: inline-block;
	line-height: 30pt;
	margin: 0 0 20px 0;
}

#image{
	display: inline-block;
	margin: 0 13pt 0 0;
	width: 207px;
}

#image img{
	width: 207px;
	display: inline-block;
}

#track_place{
	display: inline-block;
}

#guess_block{
	display: inline-block;
	vertical-align: top;
	font-size: 15pt;
	width: 421px;
}

.guesses{
	display: inline-block;
	margin: 0;
	width: 100%;
}

.guess{
	margin: 0 0 3px 0;
	background-color: #e8e8e8;
	width: 100%;
	display: inline-block;
	padding: 7px 0 7px 0;
	cursor: pointer;
	height: 25px;
}

.guess span:first-child{
	margin-left: 10px;
}

.guess span.geo{
	display: none;
}

.guess.green span, .guess.bold span {
	display: inline-block;
}

/*green check thing*/
.guess .fa-right{
	color: #679663;
	font-size: 19pt;
	float: right;
	margin-right: 10px;
}

.bold{
	font-weight: 700;
}

.red{
	background-color: rgba(234,70,61,.8);
}

.green{
	background-color: #679663;
	color: #fff;
}

.next{
	display: none;
	width: 100%;
	background-color: #999;
	color: #fff;
	cursor: pointer;
	height: 39px;
	text-align: right;
	line-height: 39px;
}

.next_wrapper{
	display: inline-block;
	margin: 0 3px 0px 0;
}

/*"NEXT" text*/
.next_wrapper span{
	position: relative;
	top: 1px;
	display: inline-block;
	font-size: 15pt;
	text-transform: uppercase;
	font-weight: 300;
}
/*arrow next*/
.fa-arrow-right{
	font-size: 15pt;
	display: inline-block;
	position: relative;
	bottom: 1.5px;
}

#score_block{
	width: 100%;
	display: inline-block;
	margin: 20px 0 0 0;
}

#score_line{
	width: 100%;
	height: 25px;
	text-transform: uppercase;
}

#score_line span{
	font-weight: 700;
}

#correct{
	float: left;
}

#incorrect{
	float: right;
}

/*////////////bottom///////////////*/

#answer{
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #e8e8e8;
}

.bar{
	display: inline-block;
	height: 100%;
	width: 1%;
	float: left;
}

.bar_green{
	background-color: #679663;
}

.bar_red{
	background-color: rgba(234,70,61,.8);
	float: right;
}

.share_block{
	width: 100%;
	display: inline-block;
	margin: 10px 0 0 0;
}

.fa{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

/*.twitter{
	display: inline-block;
	font-size: 18pt;
	background-color: #404040;
	color: #fff;
	border-radius: 5px;
	padding: 0 9px 0 8px;
	vertical-align: middle;
	height: 33px;
}

.twitter a{
	text-decoration: underline;
	color: #fff;
	display: inline-block;
}

.twitter span{
	font-size: 11pt;
	letter-spacing: .03em;
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
}

.replay{
	background-color: #404040;
	color: #fff;
	padding: 7px 5px 5px 9px;
	margin: 0 0 0 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: 300;
	width: auto;
	display: inline-block;
}

a.replay{
	color: #fff;
}

.fa-refresh{
	position: relative;
	bottom: 2px;
}

*/

.show{
	display: inline-block;
}

.show_inherit{
	display: inherit;
}

.hide{
	display: none;
}

.hover_color{
	background-color: #ccc;
}
