@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);

body{
	font-family: Roboto;
	color: #404040;
	font-weight: 400;
}

a{
	text-decoration: none;
}

.window{
	display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 90vh;
}

.overlayDark{
	position: fixed;
	z-index: 99999;
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	padding: 0 800px 0 0;
	top: 0;
	margin: 0 0 0 -100px;
}

.overlayLight{
	position: fixed;
	z-index: 9999999;
	background-color: #f7d857;
	width: 80%;
	height: 65px;
	box-shadow: 0 0 10px black;
	padding: 0;
	top: 0;
	right: 10%;
	margin: -10px auto 0 auto;
	border-radius: 5px;
}

.instrux_box{
	margin: 17px auto 0 auto;
	text-align: center;
	width: 100%;
	font-size: 14pt;
	}

.instrux_text{
	display: inline-block;
	margin-right: 3px;
}

.instrux_text span{
	font-weight: 900;
	text-decoration: underline;
}

.button{
	background-color: #404040;
	color: #fff;
	border-radius: 5px;
	padding: 7px;
	width: 70px;
	font-weight: 300;
	text-align: center;
	display: inline-block;
	margin-left: 3px;
	cursor: pointer;
}

.big_container{
	width: 750px;
	margin: 60px auto;
	padding: 40px 0 40px 0;
	-webkit-fobox-shadow: 0 0 10px 2px rgba(89,88,89,0.7);
	-moz-box-shadow: 0 0 10px 2px rgba(89,88,89,0.7);
	box-shadow: 0 0 10px 2px rgba(89,88,89,0.7);
	border-radius: 10px;
	vertical-align: middle;
}

.container{
	margin: 0 auto 0 auto;
	width: 650px;
}

/*////////// end message popup ///////////*/

.end_container_mobile{
	display: none;
}

.end_container{
	margin: 0 auto 0 auto;
	width: 650px;
	height: 200px;
	padding: 100px 0;
	display: none;
	font-size: 15pt;
	background: rgba(245,229,166,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(245,229,166,1) 0%, rgba(247,217,96,1) 87%, rgba(247,215,86,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(245,229,166,1)), color-stop(87%, rgba(247,217,96,1)), color-stop(100%, rgba(247,215,86,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(245,229,166,1) 0%, rgba(247,217,96,1) 87%, rgba(247,215,86,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(245,229,166,1) 0%, rgba(247,217,96,1) 87%, rgba(247,215,86,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(245,229,166,1) 0%, rgba(247,217,96,1) 87%, rgba(247,215,86,1) 100%);
	background: radial-gradient(ellipse at center, rgba(245,229,166,1) 0%, rgba(247,217,96,1) 87%, rgba(247,215,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e5a6', endColorstr='#f7d756', GradientType=1 );
}

.end_wrapper span{
	font-weight: 900;
}

.end_wrapper{
	width: 80%;
	margin: 0 auto;
}

.end_message{
	width: auto;
	display: inline-block;
	font-weight: 900;
	font-size: 25pt;
	margin-bottom: 6px;
}

.score{
	border-bottom: 1px solid #404040;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.end_button{
	font-size: 18pt;
	background-color: #404040;
	color: #fff;
	border-radius: 5px;
	padding: 0 9px 0 8px;
	vertical-align: middle;
	height: 33px;
	display: inline-block;
	margin: 0 200px 10px 0;
}

.end_button a{
	text-decoration: underline;
	color: #fff;
	display: inline-block;
}

.end_button span{
	font-size: 11pt;
	letter-spacing: .03em;
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
}


/*////////////////top/////////////////*/
#top{
	display: inline-block;
	width: 100%;
}

.header{
	font-size: 40pt;
	font-weight: 900;
	display: inline-block;
	line-height: 30pt;
	margin: 0 0 20px 0;
}

.image_block{
	display: inline-block;
	margin: 0 13pt 0 0;
	height: 207px;
	position: relative;
}

img.photo_desktop{
	width: 207px;
	display: inline-block;
}

.track_place{
	display: inline-block;
	color: #eee;
	float: right;
	background-color: rgba(65,65,65,.7);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	padding: 2px 6px 2px 6px;
	font-weight: 300;
}

.mobile_track_wrapper.{
	display: none;
}

#guess_block{
	display: inline-block;
	vertical-align: top;
	font-size: 15pt;
	width: 421px;
}

.guesses{
	display: inline-block;
	margin: 0;
	width: 100%;
}

.guess{
	margin: 0 0 3px 0;
	background-color: #e8e8e8;
	width: 100%;
	display: inline-block;
	cursor: pointer;
	height: 39px;
	line-height: 39px;
}

.guess span:first-child{
	margin-left: 10px;
}

.guess span.geo{
	display: none;
}

.guess.green span, .guess.bold span {
	display: inline-block;
}

/*green check thing*/
.guess .fa-right{
	color: #679663;
	font-size: 19pt;
	float: right;
	margin-right: 10px;
	line-height: 39px;
}

.bold{
	font-weight: 700;
}

.red{
	background-color: rgba(234,70,61,.8);
}

.green{
	background-color: #679663;
	color: #fff;
}

.next{
	display: none;
	width: 100%;
	background-color: #999;
	color: #fff;
	cursor: pointer;
	height: 39px;
	text-align: right;
	line-height: 39px;
}

.next_wrapper{
	display: inline-block;
	margin: 0 3px 0px 0;
}

.next_placeholder{
	display: none;
}

/*"NEXT" text*/
.next_wrapper span{
	display: inline-block;
	font-size: 15pt;
	font-weight: 400;
}
/*arrow next*/
.fa-arrow-right{
	font-size: 15pt;
	display: inline-block;
	line-height: 39px;
}

/*////////////bottom///////////////*/

#score_block{
	width: 100%;
	display: inline-block;
	margin: 20px 0 0 0;
}

#score_line{
	width: 100%;
	height: 25px;
	text-transform: uppercase;
}

#score_line span{
	font-weight: 700;
}

#correct{
	float: left;
}

#incorrect{
	float: right;
}

.answer{
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #e8e8e8;
}

.bar{
	display: inline-block;
	height: 100%;
	width: 1%;
	float: left;
}

.bar_green{
	background-color: #679663;
}

.bar_red{
	background-color: rgba(234,70,61,.8);
	float: right;
}

.footer{
	width: 100%;
	display: inline-block;
	margin: 10px 0 0 0;
	height: 36px;
}

.footer_mobile{
	display: none;
}

/*.twitter1{
	display: none;
}*/

.twitter1{
  transition: opacity 1s ease;
  opacity: 0;
  display: inline-block;
}

.fa{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.logo{
	display: inline-block;
	float: right;
}

.footer .logo img{
	width: 170px;
	position: relative;
	top: 6px;
}

.show{
	display: inline-block;
}

.show_inherit{
	display: inherit;
}

.hide{
	display: none;
}

.hover_color{
	background-color: #ccc;
}

.mobile{
	display: none;
}
